body {
  margin: 0;
}
#login-page {
  font-family: "Roboto", sans-serif;
  margin-top: 20%;
  .background-image {
    height: 125%;
    width: 125%;
    min-width: 1000px;
    margin: -56px;
    position: fixed;
    top: 0;
    z-index: -5;
  }
  .user-form {
    margin-left: 20%;
    align-content: center;
    input {
      height: 45px;
      font-size: 18px;
      width: 25%;
      margin-right: 15px;
      background: #ffffff;
      border-radius: 5px;
      color: #f873e6;
      line-height: 1.2;
      padding: 0 35px 0 35px;
      outline: none;
      border: 1px solid lightblue;
    }

    button {
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
      outline: 0;
      appearance: none;
    }
    button {
      display: inline-block;
      position: relative;
      padding: 15px 32px;
      top: 0;
      font-size: 20px;
      font-family: "Open Sans", Helvetica;
      border-radius: 4px;
      border-bottom: 1px solid rgba(28, 227, 125, 0.5);
      background: rgba(22, 230, 137, 1);
      color: #fff;
      box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);

      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);

      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    button:hover {
      top: -10px;
      box-shadow: 0px 10px 10px rgba(15, 165, 60, 0.2);

      -webkit-transform: rotateX(20deg);
      -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
      transform: rotateX(20deg);
    }
    button:active {
      top: 0px;
      box-shadow: 0px 0px 0px rgba(15, 165, 60, 0);
      background: rgba(20, 224, 133, 1);
    }
  }
}

#iframez {
  width: 80%;
  height: 1000px;
}

#options-box {
  text-align: center;
  word-wrap: break-word;
  position: fixed;
  right: 0;
  top: 7%;
  margin-right: -1%;
  margin-left: -1%;
}
